img { width: 10%; /* Adjust the percentage as needed */
    height: auto;
    
  }
    width: 10%; /* Adjust the percentage as needed */
    height: auto;
    
  }
  
s
body {
    position: absolute;
    top: 18%;
    left: 60%;
    transform: translate(-50%, -50%);
h

}




image{
    width: 12%;
    height: auto;  }
    

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Sets the body height to 100% of the viewport */
      background-image: linear-gradient(aquamarine, lightgreen);
      background-size: cover;
      background-position: center top;

  #orderportal {
    position: absolute;
        top: 70%;
        left: 90%;
        transform: translate(-50%, -50%);
        width: 150px; /* Adjust width as needed */
        height: 150px;
        background-color: rgba(5, 151, 5, 0.7); /* Semi-transparent white */
        border: none;
        border-radius: 5px;
        cursor: point;
  }